h5 {
  width: 100%;
  margin-right: 3px;
  font-size: 14px;
}

p {
  width: 100%;
  margin: 0;
  font-size: 14px;
}

del {
  color: #e7e7e7;
}

.font {
  font-family: 'DM Sans', sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

.header-row {
  justify-content: center;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.align-center {
  align-items: center;
}

.col-20th {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding: 10px;
}

img {
  object-fit: cover;
  width: 100%;
}

.lv {
  height: 56vh;
}

.size {
  color: #e7e7e7;
  border-left: 1px solid #e7e7e7;
  padding-left: 3px;
  font-size: 14px;
}

.price {
  background-color: #fff1e7;
}

.margin-0 {
  margin: 0;
}
