* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100%;
}

.off {
  background-color: #111;
}

.on {
  background-color: #fef9f1;
}

.circle {
  border-radius: 50%;
  border: none;
  width: 300px;
  height: 300px;
  background-color: #f9ea84;
  box-shadow: 1px 5px 11px 5px rgba(255, 242, 39, 0.41);
}

.nightmode {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: #252525;
  border: none;
  box-shadow: 0 -15px 3px 7px #080808;
}

.row {
  display: flex;
}

.height {
  height: 100vh;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}
